<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="dbServiceBase" class="ru.otus.db.hibernateStorage.DbServiceHibernateImpl"/>

    <bean id="loadingEmulator" class="ru.otus.frontend.LoadingEmulator">
        <constructor-arg name="dbService" ref="dbServiceBase"/>
    </bean>

    <bean id="templateProcessor" class="ru.otus.frontend.servlet.TemplateProcessor"/>

    <bean id="MessageSystem" class="ru.otus.messageSystem.MessageSystem" destroy-method="dispose"/>

    <bean id="messageSystemContext" class="ru.otus.client.MessageSystemContext" autowire="byName">
        <constructor-arg name="messageSystem" ref="MessageSystem"/>
    </bean>

    <bean id="FrontendService" class="ru.otus.frontend.FrontendServiceImpl" init-method="init">
        <constructor-arg name="address" value="Frontend"/>
        <constructor-arg name="context" ref="messageSystemContext"/>
    </bean>

    <bean id="DbService" class="ru.otus.db.DbServiceImpl" init-method="init">
        <constructor-arg name="address" value="DbService"/>
        <constructor-arg name="context" ref="messageSystemContext"/>
        <constructor-arg name="dbService" ref="dbServiceBase"/>
    </bean>
</beans>